*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.navigation{
    width: 100%;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.menu{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.menu-left{
    width: 30%;
    height: 100%;
}

.menu-center{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-right{
    width: 40%;
    height: 100%;
    /* background-color: lightgreen; */
    display: flex;
}

/* menu left */
.menu-left > ul{
    display: flex;
    gap: 20px;
    font-weight: 500;
    text-transform: uppercase;
    height: 100%;
    align-items: center;
    
}

.menu-left >ul >li{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu-left >ul >li:hover{
    background-color: antiquewhite;
    cursor: pointer
}

/* menu center */

.menu-center > img{
    width: 130px;
    /* height: 100%; */
}

/* menu right */
.menu-right > ul{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.menu-right > ul > li{
    /* background-color: pink; */
}

.menu-right > ul > li:first-child{
    height: 100%;
    padding: 10px 0;
}

/* search field */
.txt-search{
    height: 100%;
    border: 1px solid gray;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.txt-search > input{
    height: 100%;
    border: none;
    background-color: #eee;
}

.txt-search > input:focus{
    outline: none
}

.txt-search > span{
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.menu-right > ul > li{
    height: 100%;
    align-items:center;
    display: flex;
    
}

.menu-right > ul > li:hover:not(:first-child){
    background-color: blue;
    cursor:pointer;
}

/* Slide */
.slide {
  width: 90%;
  margin: auto;
  background-color: aqua;
  height: 600px;
}